<div class="mx-auto mb-10 w-3/4 p-8 text-fontent">
    <section class="my-52 py-16 bg-seasalt rounded-3xl shadow-lg">
        <div class="flex gap-24 justify-center">
            <div class="w-2/4">
                <h1 class="text-8xl text-mainColor mb-8">
                    Pertusati Franco
                </h1>
                <div class="text-xl">
                    <p>
                        Desarrollador Front-end con conocimientos en <strong class="text-mainColor">Angular 17</strong>
                        y su
                        nueva sintaxis, <strong class="text-mainColor">HTML, CSS, JS, Tailwind</strong> y
                        controladores
                        de
                        versiones como <strong class="text-mainColor">Git</strong> y <strong
                            class="text-mainColor">GitHub.</strong>
                    </p>
                    <br>
                    <p>
                        Si bien no cuento con experiencia laboral en ninguna empresa relacionada a la tecnologia,
                        algunos de
                        mis
                        proyectos tienen clientes reales.
                    </p>
                </div>
            </div>
            <div
                class="w-96 h-96 rounded-full grid place-items-end place-self-center row-span-2 overflow-hidden shadow-md">
                <img class="" src="assets/Yo.jpeg" alt="Profile picture">
            </div>
        </div>
        <div class="mt-10 w-full flex justify-center gap-4 col-span-2">
            <app-anchor><i class="bi bi-download"></i><span>Descargar CV</span></app-anchor>
            <app-anchor><i class="bi bi-linkedin"></i><span>Linkedin</span></app-anchor>
            <app-anchor><i class="bi bi-github"></i><span>GitHub</span></app-anchor>
        </div>
    </section>
    <section class="mb-20" id="s2">
        <app-projects />
    </section>
    <section class="px-32" id="s3">
        <p class="text-8xl text-seasalt text-center font-semibold mb-16">Sobre mi</p>
        <app-about-me />
    </section>
</div>