<nav class="fixed flex justify-center w-full py-4 text-xl font-semibold text-fontent bg-seasalt shadow-lg">
    <div class="flex gap-32">
        <a href="https://www.linkedin.com/in/franco-pertusati-571308316/" class="hover:text-seasalt hover:bg-mainColor bg-anti-flash_white py-2 px-6 rounded-full">Contacto</a>
        <a href="#s2" class="hover:text-seasalt hover:bg-mainColor bg-anti-flash_white py-2 px-6 rounded-full">Proyectos</a>
        <a href="#s3" class="hover:text-seasalt hover:bg-mainColor bg-anti-flash_white py-2 px-6 rounded-full">Sobre mi</a>
    </div>
</nav>