:root {
    --mainColor: #722df9;
    --c1: #f7b267;
}

.bg {
    background: hsla(269, 95%, 58%, 1);

    background: linear-gradient(180deg, rgb(144, 48, 247) 0%, hsla(260, 94%, 58%, 1) 100%);
}

.circle {
    height: 250px;
    width: 250px;
    background: hsla(31, 90%, 69%, 1);
    background: linear-gradient(90deg, hsla(31, 90%, 69%, 1) 0%, hsla(39, 90%, 69%, 1) 100%);
    border-radius: 50%;
    box-shadow: 4px 4px 14px 0px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.c1 {
    top: 20%;
    left: 70%;
}

.c2 {
    bottom: 20%;
    right: 70%;
}

.c3 {
    height: 600px;
    width: 600px;
    top: -250px;
    left: -250px;
    background: hsla(16, 90%, 69%, 1);
    background: linear-gradient(90deg, hsla(16, 90%, 69%, 1) 0%, hsla(6, 90%, 69%, 1) 100%);
}