<div class="flex flex-col">
    <div class="bg-seasalt rounded-t-3xl p-10">
        <p class="text-xl">
            Hola, soy Franco Pertusati, me introduje en elmundo del desarrollo web cuando ayudaba a mi familia a
            abrir
            un
            bar, como hacia falta un sistema de gestion gastronomica para controlar los pedidos de las mesas y
            mejorar
            la coordinacion entre el salon la caja y la cocina, me propuse a desarrollar el mio propio con nada mas
            que
            html, css y js.
        </p>
        <div class="mt-10 w-full flex justify-center gap-4 col-span-2">
            <app-anchor><i class="bi bi-download"></i><span>Descargar CV</span></app-anchor>
            <app-anchor><i class="bi bi-linkedin"></i><span>Linkedin</span></app-anchor>
            <app-anchor><i class="bi bi-github"></i><span>GitHub</span></app-anchor>
        </div>
    </div>
    <div class="rounded-b-3xl glassCard p-10">
        <div class="flex gap-2 mb-4">
            <app-skill-tag>Front-End</app-skill-tag>
            <app-skill-tag>HTML5</app-skill-tag>
            <app-skill-tag>CSS3</app-skill-tag>
            <app-skill-tag>Java Script</app-skill-tag>
            <app-skill-tag>JSON</app-skill-tag>
            <app-skill-tag>Tailwind CSS</app-skill-tag>
        </div>
        <div class="flex gap-2">
            <app-skill-tag>Angular 18</app-skill-tag>
            <app-skill-tag>Angular Material</app-skill-tag>
            <app-skill-tag>POO</app-skill-tag>
            <app-skill-tag>GitHub</app-skill-tag>
            <app-skill-tag>Linux</app-skill-tag>
        </div>
    </div>
</div>