<div class="w-fit rounded-3xl">
    <div class="flex gap-4 glassCard">
        <div class="wasd bg-seasalt rounded-tl-3xl rounded-bl-3xl p-4 flex flex-col">
            <div class="qwer">
                <ng-content />
            </div>
            <div class="flex gap-4">
                @if (repo) {
                <app-anchor [link]="repo"><i class="bi bi-github"></i><span>Repositorio</span></app-anchor>
                }
                @if (landingPage) {
                <app-anchor [link]="landingPage"><i class="bi bi-link"></i><span>Preview</span></app-anchor>
                }
            </div>
        </div>
        <div class="cardContainer p-4">
            <div class="card bg-onyx cursor-pointer" (click)="openDialog()">
                <div class="tools">
                    <div class="circle">
                        <span class="red box"></span>
                    </div>
                    <div class="circle">
                        <span class="yellow box"></span>
                    </div>
                    <div class="circle">
                        <span class="green box"></span>
                    </div>
                </div>
                <div class="overflow-hidden m-2">
                    <div class="card__content h-full">
                        <img class="rounded-md h-full w-full hover:scale-150 transition-all" [src]="photo" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>